@import url("https://use.typekit.net/vat2ajk.css");

html,
body {
  background-color: #0C2D48!important;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  position: relative;
  z-index:0;
}


/* Text Styles */

p {
  font-size: 1rem!important;
  letter-spacing: .01rem;
  font-weight: 300;
  line-height: 1.4rem!important;
  margin-bottom: 7px!important;
}

p.small {
  font-size: .8rem!important;
  letter-spacing: .01rem;
  font-weight: 300;
  line-height: 1.1rem!important;
  margin-bottom: 7px!important;
}

p.large {
  font-size: 1.4rem!important;
  letter-spacing: .01rem;
  font-weight: 300;
  line-height: 1.7rem!important;
}

p.lead {
  font-size: calc(.4rem + 1.5vw)!important;
  line-height: calc(.7rem + 1.5vw)!important;
  font-weight: 300;
}

p.bold {
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic!important;
}

li {
  font-size: 1rem!important;
  letter-spacing: .01rem;
  font-weight: 300;
  line-height: 1.4rem;
}

li.small {
  font-size: .8rem!important;
  letter-spacing: .01rem;
  font-weight: 300;
  line-height: 1.1rem!important;
  margin-bottom: 7px!important;
}

h1, .h1 {
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 700!important;
  font-size: calc(4.3rem + 1.5vw)!important;
  line-height: calc(4.3rem + 1.5vw)!important;
  letter-spacing: -0.03em!important;
}

h2, .h2 {
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 700!important;
  font-size: calc(2.5rem + 1.5vw)!important;
  line-height: calc(2.5rem + 1.5vw)!important;
  letter-spacing: -0.02em!important;
}

h3, .h3 {
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 700!important;
  font-size: calc(1.6rem + 1.5vw)!important;
  line-height: calc(1.6rem + 1.5vw)!important;
  letter-spacing: -0.02em!important;
}

h4, .h4 {
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 700!important;
  font-size: calc(.85rem + 1.5vw)!important;
  line-height: calc(1.1rem + 1.5vw)!important;
}

h4.alt, .h4.alt {
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 700!important;
  font-size: 1.8rem!important;
  line-height: 2.2rem!important;
}

h5, .h5 {
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 700!important;
  font-size: 1.1rem!important;
  letter-spacing: .02rem;
}

h6, .h6 {
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 700!important;
  text-transform: uppercase;
  font-size: .9rem!important;
  line-height: .9rem!important;
  letter-spacing: .15em!important;
}

/* Colours */

.text-white {
  color: #fff;
  opacity: 0.9!important;
}

.text-blue {
  color: #237CC1;
}

.text-dark-blue {
  color: #0C2D48!important;
}

.text-grey {
  color: #ebebeb;
  opacity: 0.95!important;
}

.bg-dark-blue {
  background-color: #0C2D48!important;
}

.bg-x-dark-blue {
  background-color: #092841!important;
}


/* Buttons */

Button.btn {
  padding: 8px 12px 8px 12px!important;
  border-radius: 8px!important;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .05rem;
  transition: all .5s;
  cursor: pointer;
}

Button.btn-blue {
  background-color:#237CC1;
  border: 2px solid #237CC1;
  color: #fff;
}

Button.btn-blue.active, Button.btn-blue:hover, Button.btn-blue:visited, Button.btn-blue:focus {
  background-color:#237CC1;
  border: 2px solid #237CC1;
  color: #fff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
}

Button.btn-outline {
  border: 2px solid #237CC1;
  border-radius: 6px;
  color: #fff;
  background-color:rgba(0, 0, 0, 0);
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

Button.btn-outline.active, Button.btn-outline:focus, Button.btn-outline:visited, Button.btn-outline:hover {
  border: 2px solid #237CC1;
  border-radius: 6px;
  color: #fff;
  background-color:rgba(0, 0, 0, 0);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
}


.btn-text {
  background-color:rgba(0, 0, 0, 0);
  border: none;
}

.arrow:after {
  content: url("/r-arrow.svg");
  margin-left: 5px;
  display: inline-block;
  color: #fff;
}

.d-arrow:after {
  content: url("/r-arrow.svg");
  margin-left: 5px;
  display: inline-block;
  color: #fff;
  transform: rotate(90deg);
}

.video:after {
  content:"";
  background: url("/video.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  position: relative;
  display: inline-block;
  margin: 0 0 0 5px;
  top:2px;
}

/* Images/Graphics */

.hero-img {
  max-height: 45rem;
  border-radius: 10px;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.45);
}

.dash-img {
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.45);
  border-radius: 15px 0px 0px 15px;
}

.app-img {
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.45);
  border-radius: 8px 8px 8px 8px;
}

.app-img-3 {
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.45);
  border-radius: 8px 0px 0px 8px;
}

.support-img {
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.45);
  border-radius: 10px 0px 0px 10px;
  width: 100%!important;
}

/* General */

hr, .hr {
  border-bottom: 2px solid #237CC1!important;
}

.fixed {
  position: fixed;
}

.z-999 {
  z-index: 999!important;
  position: relative;
}

.z-0 {
  z-index: 0!important;
}

.text-drop {
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.text-tight-drop {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}

.tight-drop {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.drop {
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.45);
}

.inner-drop {
  box-shadow: inset 0px 30px 100px 20px rgba(0, 0, 0, 0.25);
}

.input-alt {
  border: 1px solid #237CC1 !important;
  background-color:rgba(0, 0, 0, 0) !important;
  color: #fff!important;
}

/* Header */

.header {
  position: fixed;
  height: 90px;
  padding: 32px 32px!important;
  top: 0;
  left:0;
  z-index: 99;
  }

  .headerNav {
    padding: 28px 30px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
  }

  .headerNav a {
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    font-size: 14px;
  }


  .headerNav a:nth-child(4) {
    margin-right: 20px;
  }


  .chat-btn {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99;
    height: 70px;
    max-height: 100%;
    max-width: initial;
    margin: 26px;
    border-radius: 50%;
    box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.44);
    }

  .chat-btn:hover {
    cursor: pointer;
    box-shadow: 0px 1px 36px rgba(0, 0, 0, 0.65);
  }

  .logo {
    height: 35px;
    max-height: 100%;
    max-width: initial;
    }
    
    .logo:hover {
      cursor: pointer;
    }


    /* Scroll Margins*/

    #why.scroll-space {
      scroll-margin-top: 20px;
    }

    #what.scroll-space {
      scroll-margin-top: 60px;
    }

  #how.scroll-space {
    scroll-margin-top: 60px;
  }
   
  #calculate.scroll-space {
    scroll-margin-top: 30px;
  }
    
/* Containers */

.bg-dgnl {
  background: #09263C;
  background: linear-gradient(0deg, rgba(12,45,72,1) 0%, rgba(9,38,60,1) 100%);
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

.bg-mix {
  background: #09263C;
  background: linear-gradient(0deg, rgba(12,45,72,1) 0%, rgba(9,38,60,1) 100%);
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.bg-grad {
  background: #09263C;
  background: linear-gradient(0deg, rgba(12,45,72,1) 0%, rgba(9,38,60,1) 100%);
}

.c-drag {
  margin-top: -22rem;
  padding-top: 20rem;
}

.c-drag-2 {
  margin-top: -8rem;
  padding-top: 0rem;
}

.c-drag-3 {
  margin-top: -16rem;
  padding-top: 13rem;
}

.c-drag-4 {
  margin-top: -8rem;
  padding-top: 9rem;
}

.v-full {
  min-height: 90vh;
}

.v-150 {
  min-height: 150vh;
}

.v-135 {
  min-height: 135vh;
}


.v-120 {
  min-height: 120vh;
}

.v-110 {
  height: 110vh;
}

.v-100 {
  height: 100vh;
}

.v-footer {
    height: 95vh;
  }

.v-80 {
  height: 80vh;
}
.v-50 {
  height: 50vh;
}

.v-10 {
  height: 10vh;
}

.w-full {
  width: 100%!important;
}

.h-100 {
  height: 100%!important;
}

.w-auto {
  width: auto;
}

img {
  max-width: 100%;
}

.object-fit-scale {
  object-fit:scale-down;
}

.w-50 {
  width: 40%;
  display: inline-block;
}

.well {
  border-radius: 15px;
  box-shadow: inset 0px 0px 100px 20px rgba(0, 0, 0, 0.25);
  padding: 5%!important;
}

.brdr-rght {
  border-right: 1px solid #237CC1!important;
}


/* Breakpoints */

@media screen and (max-width: 1024px) {

  h1, .h1 {
    font-size: calc(4rem + 1.5vw)!important;
    line-height: calc(4rem + 1.5vw)!important;
    letter-spacing: -0.02em!important;
  }

  .c-drag {
    margin-top: -19rem;
    padding-top: 19rem;
  }

  .c-drag-2 {
    margin-top: -14rem;
    padding-top: 8rem;
  }

  .c-drag-3 {
    margin-top: -13rem;
    padding-top: 10rem;
  }

  .c-drag-4 {
    margin-top: -10rem;
    padding-top: 10rem;
  }

      
}


@media screen and (max-width: 992px) {

  .headerNav a {
    display: none;
  }

  h1, .h1 {
    font-size: calc(3.6rem + 1.5vw)!important;
    line-height: calc(3.6rem + 1.5vw)!important;
    letter-spacing: -0.02em!important;
  }

  
  }


@media screen and (max-width: 768px) {

  .c-drag {
    margin-top: -13rem;
    padding-top: 13rem;
  }

  .c-drag-2 {
    margin-top: -11rem;
    padding-top: 7rem;
  }

  .c-drag-3 {
    margin-top: -15rem;
    padding-top: 10rem;
  }

  .c-drag-4 {
    margin-top: -10rem;
    padding-top: 10rem;
  }


  }


@media screen and (max-width: 576px) { 

  p.lead {
    font-size: calc(.8rem + 1.5vw)!important;
    line-height: calc(1.1rem + 1.5vw)!important;
  }


  .c-drag {
    margin-top: -20rem;
    padding-top: 20rem;
  }

  .c-drag-2 {
    margin-top: -12rem;
    padding-top: 14rem;
  }

  .c-drag-3 {
    margin-top: -20rem;
    padding-top: 17rem;
  }

  .c-drag-4 {
    margin-top: -2rem;
    padding-top: 20rem;
  }

  .well {
    border-radius: 15px;
    box-shadow: inset 0px 0px 100px 20px rgba(0, 0, 0, 0.25);
    padding: 8%!important;
  }

  .brdr-rght {
    border-right: none!important;
  }


  }

  @media screen and (max-width: 375px) { 

    h1, .h1 {
      font-size: calc(3rem + 1.5vw)!important;
      line-height: calc(3rem + 1.5vw)!important;
      letter-spacing: -0.02em!important;
    }

    
  

  }

 