html,
body {
  background-color: #0F3450!important;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  position: relative;
  z-index:0;
}

/* Hero */

.hero-img {
  max-height: 45rem;
  border-radius: 10px;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.45);
}

/* General */

.fixed {
  position: fixed;
}

.z-999 {
  z-index: 999!important;
  position: relative;
}

.z-0 {
  z-index: 0!important;
}

.text-drop {
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.text-tight-drop {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.tight-drop {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.drop {
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.45);
}

/* Text Styles */

p {
  font-size: 16px!important;
  letter-spacing: .01rem;
  font-weight: 300;

}

p.bold {
  font-weight: 600;
}

h1, .h1 {
  font-family: 'Interstate', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(4.5rem + 1.5vw)!important;
  line-height: calc(4.5rem + 1.5vw)!important;
  letter-spacing: -0.02em!important;
}

h2, .h2 {
  font-family: 'Interstate', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(2.5rem + 1.5vw)!important;
  line-height: calc(2.5rem + 1.5vw)!important;
  letter-spacing: -0.02em!important;
}

h3, .h3 {
  font-family: 'Interstate', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(1.5rem + 1.5vw)!important;
  line-height: calc(1.5rem + 1.5vw)!important;
  letter-spacing: -0.02em!important;
}

h6, .h6 {
  font-family: 'Interstate', sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px!important;
  line-height: 14px!important;
  letter-spacing: .25em!important;
}

p.lead {
  font-size: 22px!important;
  line-height: 28px!important;
}

/* Colours */

.text-white {
  color: #fff;
}

.text-blue {
  color: #237CC1;
}

.text-grey {
  color: #E1E1E1;
}

.bg-dark-blue {
  background-color: #0F3450!important;
}


/* Buttons */

Button.btn {
  padding: 8px 12px 8px 12px!important;
  border-radius: 8px!important;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .05rem;
  transition: all .5s;
  cursor: pointer;
}

Button.btn-blue {
  background-color:#237CC1;
  border: 2px solid #237CC1;
  color: #fff;
}

Button.btn-blue.active, Button.btn-blue:hover, Button.btn-blue:visited, Button.btn-blue:focus {
  background-color:#237CC1;
  border: 2px solid #237CC1;
  color: #fff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
}

Button.btn-outline {
  border: 2px solid #237CC1;
  border-radius: 6px;
  color: #fff;
  background-color:rgba(0, 0, 0, 0);
  
}

Button.btn-outline.active, Button.btn-outline:focus, Button.btn-outline:visited, Button.btn-outline:hover {
  border: 2px solid #237CC1;
  border-radius: 6px;
  color: #fff;
  background-color:rgba(0, 0, 0, 0);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
}


.btn-text {
  background-color:rgba(0, 0, 0, 0);
  border: none;
}

.arrow:after {
  content: url("/r-arrow.svg");
  margin-left: 5px;
  display: inline-block;
  color: #fff;
}

.d-arrow:after {
  content: url("/r-arrow.svg");
  margin-left: 5px;
  display: inline-block;
  color: #fff;
  transform: rotate(90deg);
}

.video:after {
  content:"";
  background: url("/video.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  position: relative;
  display: inline-block;
  margin: 0 0 0 5px;
  top:2px;
}

/* Header */

.header {
  position: fixed;
  height: 90px;
  padding: 35px 30px!important;
  top: 0;
  left:0;
  z-index: 99;
  }

  .headerNav {
    padding: 28px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
  }

  .headerNav a {
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    font-size: 14px;
  }


  .headerNav a:nth-child(4) {
    margin-right: 20px;
  }


  .chat-btn {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99;
    height: 70px;
    max-height: 100%;
    max-width: initial;
    margin: 25px;
    border-radius: 50%;
    box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.6);
    }

  .chat-btn:hover {
    cursor: pointer;
    box-shadow: 0px 1px 36px rgba(0, 0, 0, 0.75);
  }

  .logo {
    height: 35px;
    max-height: 100%;
    max-width: initial;
    }
    
    .logo:hover {
      cursor: pointer;
    }

    
/* Containers */

.bg-dgnl {
  background: #092841;
  background: linear-gradient(0deg, rgba(12,45,72,1) 0%, rgba(9,40,65,1) 100%);
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

.bg-grad {
  background: #092841;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
}

.c-drag {
  margin-top: -22rem;
  padding-top: 20rem;
}

.v-full {
  min-height: 90vh;
}

.v-120 {
  min-height: 120vh;
}

.v-100 {
  height: 100vh;
}

.v-80 {
  height: 80vh;
}
.v-50 {
  height: 50vh;
}

.v-10 {
  height: 10vh;
}

.w-full {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-auto {
  width: auto;
}

img {
  max-width: 100%;
}

.object-fit-scale {
  object-fit:scale-down;
}

.w-50 {
  width: 40%;
  display: inline-block;
}


/* Breakpoints */

@media screen and (max-width: 1024px) {

  h1, .h1 {
    font-size: calc(4rem + 1.5vw)!important;
    line-height: calc(4rem + 1.5vw)!important;
    letter-spacing: -0.02em!important;
  }

  .c-drag {
    margin-top: -19rem;
    padding-top: 19rem;
  }

      
}


@media screen and (max-width: 992px) {

  .headerNav a {
    display: none;
  }

  h1, .h1 {
    font-size: calc(3.6rem + 1.5vw)!important;
    line-height: calc(3.6rem + 1.5vw)!important;
    letter-spacing: -0.02em!important;
  }

  
  }


@media screen and (max-width: 768px) {

  .c-drag {
    margin-top: -13rem;
    padding-top: 13rem;
  }


  }


@media screen and (max-width: 576px) { 

  .c-drag {
    margin-top: -20rem;
    padding-top: 20rem;
  }


  }

 