html,
body {
  background-color: #0F3450;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #0A2A42;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* General */

.fixed {
  position: fixed;
}

/* Text Styles */

/* Colours */

.text-white {
  color: #fff;
}

.dark-blue {
  background-color: #0F3450;
}

/* Buttons */

.btn {
  padding: 10px 15px 10px 15px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .05rem;
  margin-bottom: 10px;
  transition: all .5s;
  cursor: pointer;
}

.btn-outline {
  border: 2px solid #237CC1;
  border-radius: 6px;
  color: #fff;
  background-color:rgba(0, 0, 0, 0);
}

.btn-text {
  background-color:rgba(0, 0, 0, 0);
  border: none;
}

.arrow:after {
  content: url("/r-arrow.svg");
  margin-left: 5px;
  display: inline-block;
  color: #fff;
}

/* Header */

.header {
  position: fixed;
  height: 90px;
  padding: 30px;
  top: 0;
  left:0;
  z-index: 99;
  }

  .headerNav {
    padding: 25px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 101;
  }

  .headerNav a {
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    font-size: 14px;
  }

  .headerNav a:nth-child(4) {
    margin-right: 20px;
  }

  .logo {
    height: 30px;
    max-height: 100%;
    max-width: initial;
    }
    
    .logo:hover {
      cursor: pointer;
    }


/* Breakpoints */

    @media screen and (max-width: 992px) {
      
     }


    @media screen and (max-width: 768px) {
      
      .headerNav a {
        display: none;
      }

     }


    @media screen and (max-width: 576px) { 

     }

 